<script type="text/javascript-lazy">
    // global vairible for transport it to the angular
    window.globalBooks = <%- JSON.stringify(books) %>;
</script>

<div ng-app="BooksListModule" ng-controller="BooksListController" ng-cloak>

  <h2 class="form-create-heading">Книги</h2>

  <div class="row">
    <div class="control-group form-group col-xs-12"
         ng-class="{'has-error' : create.title.$invalid && create.title.$dirty}">
      <label>Введите название книги</label>

      <input type="text" class="form-control" placeholder="Вино из одуванчиков" name="filter"
             ng-model="filter"
             ng-change="booksFilter(filter)"/>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3" ng-repeat="book in filteredBooksList" ng-click="showBook(book.id)">
      <img ng-src="data:{{book.pictureType}};base64,{{book.picture}}" alt="{{book.title}}" title="{{book.title}}"/>
      <span>{{book.title}}</span>
    </div>

    <div ng-if="filteredBooksList.length == 0 && filter" class="col-xs-12">
      По Вашему запросу ничего не найдено
    </div>
  </div>
</div>
